body {
  box-sizing: border-box;
  margin: 0;
  font-family: -apple-system,'Roboto','Work Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* typography */
  letter-spacing: 0.075em;
  font-size: 1.1em;
  font-weight: bold;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}

  a {
    color: #4630eb;
  }
